<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div class="container">
      <h1>notey New Page</h1>
      <form action="/notey/<%=note.id%>?_method=PUT" method="POST">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%=note.title%>" />
        <label for="description">Description:</label>
        <input type="text" name="description" value="<%=note.description%>" />
        <br/>
        <input type="submit" value="Submit">
      <form>
      <button type="button" name="button">
        <a href="/notey">Back</a>
      </button>
    </div>
  </body>
</html>
