<!DOCTYPE html>
<!-- SETTING UP LOGIN NOTES -->
<% if (currentUser) {%>
  <%let userN = user %>
  <% } %>
  <html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/nav.ejs') %>
    <link rel="stylesheet" href="/css/index/style.css">
  </head>
  <body>
    <div class="styleBar" >
      <h1 class="titleName">Welcome To Notey!</h1>
    </div>
    <div class="container">

      <ul>
<!-- CHECKING TO PULL UP NOTES FROM ACCOUNT -->
        <% if (currentUser) { %>
          <% for (let noteIteration of note ) { %>
            <% if (noteIteration.user === currentUser.username) { %>

              <div class="note">
                <li><a href="/notey/<%=noteIteration._id%>" class="noteLink">
                  <form action="/notey/<%=noteIteration._id%>?_method=DELETE" method="POST" >
                    <input type="submit" value="x" class="delButton"/>
                  </form>
                  <%= noteIteration.title %>
                </a>
                  <p>Created on <%= noteIteration.createdAt %>

                  </div>
                </li>
                <% } %>
                <% } %>
                <% } else { %>
<!-- IF YOU ARENT LOGGED IN IT WILL OUTPUT ALL NOTES THAT DONT HAVE A USERNAME -->
                  <% for (let noteIteration of note ) { %>
                    <% if (!noteIteration.user) { %>

                      <div class="note">

                        <li>

                          <a href="/notey/<%=noteIteration._id%>" class="noteLink">
                            <form action="/notey/<%=noteIteration._id%>?_method=DELETE" method="POST" >
                              <input type="submit" value="x" class="delButton"/>
                            </form>
                          <%= noteIteration.title %>
                        </a>
                        <% if (noteIteration.image) { %>

                          <% } %>
                          <p>Created on <%= noteIteration.createdAt %>

                          </div>
                        </li>
                        <% } %>
                        <% } %>
                        <% } %>
                      </ul>
                    </div>
                  </body>
                  </html>
