<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/nav.ejs') %>
  <link rel="stylesheet" href="/css/show/style.css">

</head>
<body>
  <div class="styleBar" >
  </div>
  <div class="container">
    <h1>
      <%= note.title %>
    </h1>
    <div class="note">
      <% if (note.image) {%>
        <div class="image">
          <img src="<%= note.image %>" alt="Image Not Found">
        </div>
        <%}%>
        <p class="noteBody"><%= note.body %></p>

        <p class="timeStamp">Created on <%= note.createdAt %></p>
      </div>

      <br>
      <div class="buttonNav">
        <a href="/notey/<%=note._id%>/edit" class="footerBtn"><button type="button"  id="editBtn">Edit</button></a>
        <br>
        <br>
        <form action="/notey/<%=note._id%>?_method=DELETE" method="POST" class="footerBtn">
          <input type="submit" value="Delete" id="delBtn"/>

        </form>
        <br>
        <a href="/notey"class="footerBtn">
          <button type="button" id="editBtn">Back</button></a>

        </div>
      </div>
    </body>
    </html>
